In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics
import category_encoders as ce
import numpy as np

heart = pd.read_csv('heart.csv')
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
heart['old'] = np.where(heart['age'] >60,1,0)
heart['old'].sum()

79

In [3]:
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,old
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0,1
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0,0

In [7]:
heart['trestbps_mean']=0
for i in heart.index:
    if heart['age'][i] <= 20 and heart['sex'][i] == 1:
        heart['trestbps_mean'][i] = 123
    if 20 < heart['age'][i] <= 30 and heart['sex'][i] == 1:
        heart['trestbps_mean'][i] = 126
    if 30 < heart['age'][i] <= 40 and heart['sex'][i] == 1:
        heart['trestbps_mean'][i] = 129
    if 40 < heart['age'][i] <= 50 and heart['sex'][i] == 1:
        heart['trestbps_mean'][i] = 135
    if 50 < heart['age'][i] <= 60 and heart['sex'][i] == 1:
        heart['trestbps_mean'][i] = 142
    if heart['age'][i] > 60 and heart['sex'][i] == 1:
        heart['trestbps_mean'][i] = 142
    if heart['age'][i] <= 20 and heart['sex'][i] == 0:
        heart['trestbps_mean'][i] = 116
    if 20 < heart['age'][i] <= 30 and heart['sex'][i] == 0:
        heart['trestbps_mean'][i] = 120
    if 30 < heart['age'][i] <= 40 and heart['sex'][i] == 0:
        heart['trestbps_mean'][i] = 127
    if 40 < heart['age'][i] <= 50 and heart['sex'][i] == 0:
        heart['trestbps_mean'][i] = 137
    if 50 < heart['age'][i] <= 60 and heart['sex'][i] == 0:
        heart['trestbps_mean'][i] = 144
    if heart['age'][i] > 60 and heart['sex'][i] == 0:
        heart['trestbps_mean'][i] = 159

heart['trestbps_mean'][300]

/var/folders/t6/jc5fqrkn0gv95ps21cwdcp340000gn/T/ipykernel_38753/982971744.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['trestbps_mean'][i] = 142
/var/folders/t6/jc5fqrkn0gv95ps21cwdcp340000gn/T/ipykernel_38753/982971744.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['trestbps_mean'][i] = 129
/var/folders/t6/jc5fqrkn0gv95ps21cwdcp340000gn/T/ipykernel_38753/982971744.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['trestbps_mean'][i] = 137
/var/folders/t6/jc5fqrkn0gv95ps21cwdcp340000gn/T/ipykernel_38753/982971744.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['trestbps_mean'][i] = 142
/var/folders/t6/jc5fqrkn0gv95ps21cwdcp340000gn/T/ipykernel_38753/982971744.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['trestbps_mean'][i] = 144
/var/folders/t6/jc5fqrkn0gv95ps21cwdcp340000gn/T/ipykernel_38753/982971744.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['trestbps_mean'][i] = 135
/var/folders/t6/jc5fqrkn0gv95ps21cwdcp340000gn/T/ipykernel_38753/982971744.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['trestbps_mean'][i] = 159
/var/folders/t6/jc5fqrkn0gv95ps21cwdcp340000gn/T/ipykernel_38753/982971744.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['trestbps_mean'][i] = 127
/var/folders/t6/jc5fqrkn0gv95ps21cwdcp340000gn/T/ipykernel_38753/982971744.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart['trestbps_mean'][i] = 126

142